.pokemon {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-image: linear-gradient(to bottom right ,yellow, rgb(0, 0, 255));
  min-width: 35%;
  min-height: 35%;
  border: 1px gray solid;
  border-radius: 10px;
  margin: 10px;
}

.pokemon:hover {
  transform: scale(1.1);
  transition-duration: 0.4s;
}

.pokemon-image {
  width: 40%;
  margin: 10px;
 }

.pokemon-information {
  width: 40%;
  font-size: 20px;
  padding: 15px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: black;
}
 