.favPokemons {
  display: flex;
  flex-flow: wrap row;
  flex: 1 1 auto;
  justify-content: center;
}

.favPokemon {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(to bottom right ,yellow, rgb(0, 0, 255));
  border: 1px gray solid;
  border-radius: 10px;
  max-width: 50%;
  margin: 40px;
  padding: 20px;
}

.favPokemon:hover {
  transform: scale(1.1);
  transition-duration: 0.4s;
}