.pokemonDetails {
  width: 80%;
  display: flex;
  justify-content: center;
  margin: auto;
}

.favIcon {
  width: 50px;
  align-self: flex-start;
  justify-self: flex-start;
  margin-top: 20px;
  margin-right: 10px;
}

.favIcon img {
  width: 50px;
}

.favPokemon {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(to bottom right ,yellow, rgb(0, 0, 255));
  border: 1px gray solid;
  border-radius: 10px;
  max-width: 50%;
  margin: 40px;
}

.aboutPokemon{
  color: black;
}